body{
  margin-bottom: 100px;
}

/* Start of Header */
.jumbotron{
  width: 100%;
  text-align: center;
  background-color: rgb(109, 109, 189);
  border-radius: 0;
  box-shadow: 1px 5px 8px rgb(185, 185, 185) ;
}

.jumbotron .display-3 {
  font-family: 'Bebas Neue', cursive;
  text-shadow: 1px 5px 8px rgb(73, 73, 127);
  color: white;
  letter-spacing: .5em;
  margin-bottom: 0;
  text-align: center;
}

.jumbotron .lead {
  color: rgb(152, 152, 255);
  font-size: medium;
}

.jumbotron .time-display{
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  text-shadow: 1px 5px 8px rgb(73, 73, 127);
  letter-spacing: .2em;
}

/* Start of time brackets */
.container {
  width: 100%;
}

.container .time-row{
  width: 100%;
  height: 80px;
  box-direction: none;
  background-color: rgb(109, 109, 189);
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}

.container .time-row .time-title {
  height: 80px;
  width: 100px;
  margin-bottom: 0;
  padding: 10px;
  color: rgb(109, 109, 189);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px;
  font-family: 'Bebas Neue', cursive;
}

.container .time-row .text {
width: 100%;
height: 80px;
}

.container .time-row .button {
  justify-content: flex-end;
  width: 100px;
  height: 80px;
  border: none;
  background-color: rgb(93, 93, 163);
  color: white;
}

.container .time-row .button:hover {
  background-color: rgb(117, 117, 204);
  color: white;
  border-color: rgb(255, 68, 0);
  transition: .5s;
}
